@using BandsMvc.Models;
@model Band[]


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <h3> Band Names </h3>
    <ul> 
    @for (int i = 0; i < Model.Length; i++)
    {
        <li> @Model[i].Name </li>
    }
    </ul>
</body>
</html>